doctype html
html
    head
        title NodeAuth | #{title}
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/default.css')
    body
        block content
