body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

/***** Registration Page *****/

.registration-form,
.login-form{
    border: 1px solid black;
    padding: 45px 45px 25px 45px;
    margin: 20px 320px;
}